body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Cardo', serif; }

a {
  color: #000; }

.t-orange {
  color: #f34c0b; }

.t-gray {
  color: #666666; }

.calign {
  text-align: center; }

.bmargin {
  margin-bottom: 40px; }

.tmargin {
  margin-top: 40px; }

.nmargin {
  margin: 0; }

.lmargin {
  margin-left: 40px; }

.rmargin {
  margin-right: 40px; }

.rounded {
  border-radius: 5px; }

.header {
  width: 100%;
  border-top: 2px solid #f34c0b; }
  .header .nav {
    padding: 10px 50px 20px; }
    .header .nav img {
      margin-top: 20px;
      float: left;
      width: 250px; }
    .header .nav ul {
      float: right;
      list-style-type: none;
      padding: 0;
      margin-top: 25px; }
      .header .nav ul li {
        margin-left: 20px;
        display: inline-block; }
        .header .nav ul li a {
          color: #666666;
          font-size: 1em;
          font-family: "PT Sans Narrow";
          text-transform: uppercase; }

.footer {
  width: 100%;
  height: 150px;
  background: url(/images/brushed.png);
  padding: 40px;
  font-family: "PT Sans Narrow"; }
  .footer a {
    transition: all .5s;
    -webkit-transition: all .5s; }
    .footer a:hover {
      opacity: .7;
      color: #000; }

.post {
  margin: 50px auto;
  max-width: 650px;
  padding: 5px;
  font-size: 1.5em; }
  .post h1 {
    font-family: "PT Sans Narrow";
    font-size: 3.5em;
    font-weight: 700; }
  .post h2 {
    margin-top: 40px;
    font-family: "PT Sans Narrow";
    font-size: 2.5em; }
    .post h2.subtitle {
      margin-top: -10px;
      color: #666666; }
  .post h3 {
    margin-top: 40px;
    font-family: "PT Sans Narrow";
    font-size: 2.0em;
    font-weight: 700; }
  .post a {
    color: #f34c0b; }
  .post p + p {
    margin-top: 40px; }
  .post img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .post blockquote {
    border-color: #f34c0b;
    font-style: italic; }

.grid {
  width: 960px;
  /*min-width:700px;*/
  /*width:100%;*/
  margin-left: auto;
  margin-right: auto; }

.inset {
  padding: 10px;
  background: url(/images/sos.png);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.featured h3 {
  font-family: "PT Sans Narrow"; }
.featured .card {
  float: left;
  width: 46%;
  margin: 2% 4% 2% 0;
  padding: 30px;
  height: 450px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
  .featured .card:nth-child(odd) {
    margin-right: 0; }
  .featured .card .img-wrapper {
    height: 170px;
    overflow: hidden;
    margin: -30px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.1); }
    .featured .card .img-wrapper img {
      width: 100%;
      margin-top: -20%; }
  .featured .card h3 {
    font-family: "PT Sans Narrow"; }
  .featured .card:hover {
    text-decoration: none;
    color: #000; }
