---
layout: default
title: FreelanceInbox Blog
---

<div id="home">
	<div class="inset">
		<div class="grid featured">
			<h3 class="t-gray">Featured posts</h1>
			{% for post in site.posts %}
			<a href="{{ post.url }}" class="card">
				<div class="img-wrapper"><img src="{{ post.image }}"></div>
				<h3>{{ post.title }}</h3>
				<div class="content-wrapper">
					<p class="date t-orange">{{ post.date | date_to_string }}</p>
					<p class="summary">
						{% if post.content contains '<!--more-->' %}
						  {{ post.content | split:'<!--more-->' | first | strip_html }}
						{% else %}
						  {{ post.content | truncatewords:70 | strip_html }}
						{% endif %} [...]
					</p>
				</div>
			</a>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>
</div>