<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Tom Preston-Werner" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/normalize.css" />
   <link rel="stylesheet" href="/css/prism.css" />
   <link rel="stylesheet" href="/css/bootstrap.min.css" />
   
   <link rel="stylesheet" href="/css/screen.css" />
   <link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>


   <!-- Typekit -
   <script type="text/javascript" src="//use.typekit.net/laq3zaf.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   -->
</head>
<body>

<div class="site">

  {% include header.html %}
  
  <div class="post">
    {{ content }}
    <div id="disqus_thread"></div>
  </div>
  
  {% include footer.html %}

</div>


<script src="/js/prism.js"></script>

<script type="text/javascript">
    var disqus_shortname = 'freelanceinbox'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

</body>
</html>