$orange: #F26653;
$red: #C02020;
$gray: #75738E;
$dark: #211D4A;

body {
	padding:0;
	margin:0;
	font-size:14px;
	font-family: 'Lato', sans-serif;
	color:$dark;
}

a {
	color:#000;
	&:hover {
		text-decoration:none;	
	}
}

.t-orange { color:$orange; }
.t-gray { color:$gray; }
.t-white { color:#fff}
.t-shadow { text-shadow:0 1px 2px $gray; }

.calign { text-align: center; }
.bmargin { margin-bottom:40px; }
.tmargin { margin-top:40px; }
.nmargin { margin:0; }
.lmargin { margin-left:40px; }
.rmargin { margin-right:40px; }
.rounded { border-radius:5px; }

.header {
	width:100%;
	border-top:2px solid $orange;

	.nav {
		padding: 10px 50px 20px;
		img {
			margin-top:20px;
			float:left;
			width:250px;
		}

		ul {
			float:right;
			list-style-type:none;
			padding:0;
			margin-top:25px;
			li {
				a {
					color:$dark;
					font-size:1em;
					&:hover {
						color:$orange;
					};
				}

				margin-left:20px;
				display:inline-block;
			}
		}
	}
}

footer {
	p {
		font-size:1.5em;
	} 
	.copyright {
		font-size:1.0em;
	}
}
/*.footer {
	width:100%;
	height: 150px;
	background:url(/images/brushed.png);
	padding:40px;
	a {
		transition: all .5s;
		-webkit-transition: all .5s;
		&:hover {
			opacity:.7;
			color:#000;
		};
	}
}*/

.post {
	margin:50px auto;
	max-width:650px;
	padding:5px;
	
	h1 {
		font-size:3.0em;
		font-weight:700;
	}

	h2 {
		margin-top:40px;
		font-size:2.5em;
		&.subtitle {
			margin-top:-10px;
			color:$gray;
		}
	}

	h3 {
		margin-top:40px;
		font-size:2.0em;
		font-weight:700;
	}

	font-size:1.5em;

	a {
		color:$orange;
	}
	
	p + p {
		margin-top:40px;
	}

	img {
		display:block;
		max-width:100%;
		margin-left:auto;
		margin-right:auto;
	}

	blockquote {
		border-color:$orange;
		font-style:italic;
	}

	.bio {
		margin:50px 0 50px 0;
		height:80px;
		background:rgba(0,0,0,.04);
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		overflow:hidden;
		border: 1px solid rgba(0, 0, 0, 0.01);
		img {
			height:100%;
			margin-right:20px;
			float:left;
		};
		p {
			margin-top:10px;
		}
	}

	.tweet {
		iframe {
			margin-left:auto !important;
			margin-right:auto !important;
		}
	}
}

.grid {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

.inset {
	padding:10px;
	background:url(/images/sos_dark.png);
	border-top:1px solid $gray;
	border-bottom:1px solid $gray;
}

.featured {
	.card {
		float:left;
		width:48%;
		margin:2% 4% 2% 0;
		&:nth-child(odd) {
			margin-right:0;
		}
		padding:30px;
		height:450px;
		overflow:hidden;
		background:rgba(255,255,255,.8);
		box-shadow: 0px 0px 5px rgba(0,0,0,.3);
		-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
		.img-wrapper {
			height:170px;
			overflow:hidden;
			margin:-30px;
			margin-bottom:25px;
			background: rgba(0,0,0,.1);
			img {
				width:100%;
				margin-top:-20%;
			}
		}

		&:hover {
			text-decoration:none;
			color:#000;
		};
	}
}